/**
DIMENSIONS
 */
.full-height-vh{
    height: 100vh;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.width-80{
    width: 80%;
}
/**
FONTS
 */
.philosopher-font{
    font-family: Philosopher, serif;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: bold;
}

.font-large{
    font-size: large;
}

.font-medium{
    font-size: medium;
}

/**
COLORS
 */
.color-white{
    color: #ffffff;
}

.color-black{
    color: #000000;
}

.color-red{
    color: #DE2E46;
}

.background-pink{
    background-color: #FF387E!important;
}

.background-white{
    background-color: #ffffff;
}

.background-green{
    background-color: #26A650!important;
}

.background-red{
    background-color: #DE2E46!important;
}

/**
FRAMEWORK
 */
#loginForm md-input-container label{
    color: #ffffff!important;
}

#loginForm .md-input{
    border-color: #ffffff!important;
}

/**
MARGINS
 */
.margin-none{
    margin: 0;
}

.margin-top-10{
    margin-top: 10%;
}

.margin-bottom-10{
    margin-bottom: 10%;
}

.margin-bottom-3{
    margin-bottom: 3%;
}

.margin-lr-20{
    margin-left: 20%;
    margin-right: 20%;
}

.margin-lr-auto{
    margin-left: auto;
    margin-right: auto;
}

.margin-auto{
    margin: auto;
}

.margin-r-20-px{
    margin-right: 20px;
}

.margin-lr-20-px{
    margin-left: 20px;
    margin-right: 20px;
}

/**
PADDING
 */
.padding-none{
    padding: 0;
}

.padding-10{
    padding: 10px;
}

.padding-5{
    padding: 5px;
}

.padding-l-10{
    padding-left: 10px;
}

.padding-lr-10{
    padding-left: 10%;
    padding-right: 10%;
}

/**
BORDER
 */
.border-1-pink{
    border: 1px solid #FF387E;
}

.border-1{
    border: 1px solid;
}

.border-radius-10-px{
    border-radius: 10px;
}

.border-1-red{
    border: 1px solid #DE2E46;
}

.border-1-warn{
    border: 1px solid #FF512F;
}

/**
COLOR
 */

.color-pink{
    color: #FF387E;
}

.color-lightgray{
    color: #8A8A8A;
}

.color-green{
    color: #26A650
}

/**
OTHER
 */
.outline-none{
    outline: none;
}

/**
DISPLAY
 */

.opacity-none{
    opacity: 0;
}

.background-transparent{
    background-color: transparent;
}

/**
ELEMENTS
 */
.success-dialog-content{
    padding-left: 20px;
    padding-right: 80px;
}