/**
DIMENSIONS
 */
.full-height-vh{
    height: 100vh;
}

.full-height{
    height: 100%;
}

.margin-lr-20{
    margin-left: 20%;
    margin-right: 20%;
}

/**
FONTS
 */
.philosopher-font{
    font-family: Philosopher, serif;
}

.text-left{
    text-align: left;
}

.font-large{
    font-size: large;
}

/**
COLORS
 */
.white-color{
    color: #ffffff;
}

/**
FRAMEWORK
 */
md-input-container label{
    color: #ffffff!important;
}

.md-input{
    border-color: #ffffff!important;
}

/**
MARGINS
 */

.margin-top-10{
    margin-top: 10%;
}

.margin-bottom-3{
    margin-bottom: 3%;
}

/**
PADDING
 */

.padding-10{
    padding: 10px;
}

.padding-l-10{
    padding-left: 10px;
}

/**
BORDER
 */
.border-1{
    border: 1px solid #000000;
}

/**
COLOR
 */

.color-pink{
    color: #FF387E;
}